<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Simple Chat Application">
        <meta name="keywords" content="chat, messaging, simple chat">
        <title>
            {% block title %}
                Simple Chat
            {% endblock title %}
        </title>
        {{ bootstrap.load_css() }}
        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        {{ bootstrap.load_js() }}
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
