<form class="input-group mb-3 my-form">
    <input type="text"
           class="form-control"
           placeholder="{{ placeholder | default("Enter your message") }}"
           aria-label="{{ aria_label | default("Input field") }}"
           aria-describedby="basic-addon2"
           {% if input_field_id %}id="{{ input_field_id }}"{% endif %}>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary"
                type="{{ button_type | default("button") }}"
                {% if onclick %}onclick="{{ onclick }}"{% endif %}>
            {{ button_text | default("Senden") }}
        </button>
    </div>
</form>
